machine:
  network:
    hostname: ${hostname}
    interfaces:
      - deviceSelector:
          physical: true
        addresses:
          - ${ip}/16
        routes:
          - network: 0.0.0.0/0
            gateway: 10.20.0.1
%{ if nodetype == "controlplane" ~}
        vip:
          ip: ${vip}
%{ endif ~}
