- op: add
  path: /machine/network/hostname
  value: ${hostname}
# - op: add
#   path: /machine/network/interfaces
#   value: 
#     - deviceSelector:
#         physical: true
#       address: ${ip}/16
#       gateway: 10.20.0.1
