machine:
  network:
    nameservers:
      - 10.0.0.1
    interfaces:
      - deviceSelector:
          physical: true
        addresses:
          - ${ip}/${subnet_size}
        routes:
          - network: 0.0.0.0/0
            gateway: ${gateway}
%{ if nodetype == "controlplane" ~}
        vip:
          ip: ${vip}
%{ endif ~}


---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ${hostname}
auto: off